# .env

# FastAPI server configuration
HOST=localhost
PORT=8000

# Ollama API configuration
# If you're running the FastAPI app inside a Docker container, you may need to use
# host.docker.internal or your host machine's IP address instead of "localhost".
OLLAMA_GEN_URL=http://ollama-backend-app:11434/api/generate
OLLAMA_CHAT_URL=http://ollama-backend-app:11434/api/chat

# POSTGRES_URL=postgresql://myuser:mypassword@postgres-backend-app:5432/mydatabase

POSTGRES_USER=myuser
POSTGRES_PASSWORD=mypassword
POSTGRES_DB=mydatabase
POSTGRES_HOST=postgres-backend-app
POSTGRES_PORT=5432

# Application debug mode (set to "True" during development)
DEBUG=True

# Optional: Logging level (e.g., info, debug, warning, error)
LOG_LEVEL=info
